*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#000;
color:#e7e9ea;
}

.layout{
display:flex;
max-width:1300px;
margin:auto;
}


.sidebar{
width:260px;
padding:20px;
border-right:1px solid #2f3336;
height:100vh;
position:sticky;
top:0;
}

.logo{
font-size:32px;
margin-bottom:30px;
}

.menu{
display:block;
padding:14px;
border-radius:40px;
cursor:pointer;
}

.menu:hover{
background:#16181c;
}

.post-btn{
width:100%;
margin-top:20px;
padding:14px;
border-radius:40px;
background:#1d9bf0;
border:none;
color:white;
font-weight:700;
}


.feed{
flex:1;
border-right:1px solid #2f3336;
}

.feed-header{
display:flex;
justify-content:space-around;
padding:15px;
border-bottom:1px solid #2f3336;
}

.active-tab{
border-bottom:3px solid #1d9bf0;
padding-bottom:8px;
}

.tweet-box{
display:flex;
gap:15px;
padding:20px;
border-bottom:1px solid #2f3336;
}

.tweet-box input{
flex:1;
background:transparent;
border:none;
outline:none;
color:white;
font-size:20px;
}

.tweet-btn{
background:#1d9bf0;
border:none;
padding:10px 20px;
border-radius:30px;
color:white;
}

.avatar{
width:45px;
height:45px;
border-radius:50%;
background:#333;
display:flex;
align-items:center;
justify-content:center;
}

.tweet{
padding:20px;
border-bottom:1px solid #2f3336;
}

.tweet-header{
display:flex;
gap:10px;
margin-bottom:10px;
}

.actions{
display:flex;
gap:20px;
margin-top:10px;
color:#71767b;
cursor:pointer;
}


.right{
width:350px;
padding:20px;
}

.search{
width:100%;
padding:12px;
border-radius:30px;
border:none;
background:#16181c;
color:white;
margin-bottom:20px;
}

.card{
background:#16181c;
padding:20px;
border-radius:20px;
}