*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#000;
color:#e7e9ea;
}



.layout{
display:flex;
justify-content:center;
max-width:1300px;
margin:auto;
}



.sidebar{
width:260px;
height:100vh;
padding:20px;
position:sticky;
top:0;
}

.logo{
margin-bottom:40px;
}

.nav{
display:block;
width:100%;
padding:14px;
margin-bottom:8px;
border-radius:30px;
background:none;
border:none;
color:white;
font-size:20px;
cursor:pointer;
text-align:left;
}

.nav:hover{
background:#16181c;
}



.feed{
width:600px;
border-left:1px solid #222;
border-right:1px solid #222;
min-height:100vh;
}

.feed-header{
position:sticky;
top:0;
background:#000;
padding:15px;
border-bottom:1px solid #222;
font-weight:bold;
}



.composer{
display:flex;
gap:12px;
padding:16px;
border-bottom:1px solid #222;
}

.avatar{
width:40px;
height:40px;
border-radius:50%;
}

.composer-body{
flex:1;
}

textarea{
width:100%;
background:transparent;
border:none;
resize:none;
color:white;
font-size:20px;
outline:none;
}

.composer-actions{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:10px;
}

button{
background:#1d9bf0;
border:none;
color:white;
padding:10px 18px;
border-radius:30px;
font-weight:bold;
cursor:pointer;
}

button:hover{
opacity:.9;
}



.post{
padding:16px;
border-bottom:1px solid #222;
display:flex;
gap:12px;
animation:fade .3s ease;
}

@keyframes fade{
from{opacity:0;transform:translateY(10px)}
to{opacity:1}
}

.post-content{
flex:1;
}

.post img{
width:100%;
border-radius:14px;
margin-top:10px;
}

.post-actions{
display:flex;
gap:30px;
margin-top:10px;
color:#71767b;
}

.post-actions span{
cursor:pointer;
}

.post-actions span:hover{
color:#1d9bf0;
}



.right{
width:350px;
padding:20px;
}

.card{
    background: black;
    padding:20px;
    border-radius:16px;
    border-color:#16181c ;
    border-style: solid;
}

.card button {
    margin: 15px;
}

.card h3 {
    margin: 15px;
}

.card h2 {
    margin: 15px;
}

.card-2 {
    background: black;
    padding:20px;
    border-radius:16px;
    margin-top: 30px;
    border-style: solid;
    border-color: #16181c;
}

.card-2 h2 {
    margin-left: 5px;
    margin-bottom: 35px;
}
 
.crd-txt {
    margin-top: 45px;
}

.crd-txt h3 {
    font-size: 15px;
}

.crd-txt p {
    color: #71767b;
    font-size: 13px;
}

.c-3 {
    background: black;
    padding:20px;
    border-radius:16px;
    margin-top: 30px;
    border-style: solid;
    border-color: #16181c;
}

.c-3 h2 {
    margin-bottom: 40px;
}

.c3-p {
    margin-bottom: 40px;
}

.p-1 {
    color: grey;
    font-size: 13px;
    margin-bottom: 5px;
}

.sp {
    color: #1da1f2;
}


@media(max-width:1000px){
.sidebar,.right{display:none}
.feed{width:100%}
}

.auth-card{
padding:40px;
width:320px;
text-align:center;
justify-content: center;
border-radius:20px;
}

.auth-card input{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:30px;
background:#111;
color:white;
}

.auth-card button{
width:100%;
padding:12px;
border:none;
border-radius:30px;
background:#1da1f2;
color:white;
cursor:pointer;
}

.auth-body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.glass{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
border:1px solid rgba(255,255,255,0.1);
}

.h2-main {
    display: flex;
    gap: 230px;
    margin-left: 110px;
    font-size: 10px;
}

.p-but {
    background-color: white;
    color: black;
    width: 220px;
    height: 50px;
    font-size: 18px;
    margin-top: 30px;
}

.nf-but {
    background-color: black;
    cursor: pointer;
    color: white;
    height: 50px;
    width: 220px;
    margin-top: 80px;
} 

.nf-but:hover {
    background-color: #16181c;
}